@font-face {
    font-weight: 400;
    font-family: OpenSans;
    src: url("./fonts/OpenSans-Regular.ttf");
  }
  
  @font-face {
    font-weight: 700;
    font-family: OpenSans;
    src: url("./fonts/OpenSans-Bold.ttf");
  }
  
  @font-face {
    font-weight: 300;
    font-family: OpenSans;
    src: url("./fonts/OpenSans-Light.ttf");
  }
  
  @font-face {
    font-weight: 400;
    font-family: 'Neucha';
    src: url("./fonts/Neucha-Regular.ttf");
  }
  

:root {
    --color-white: #FFFFFF;
    --color-white50: #D7CCC0;
    --color-light: #F5F4F0;
    --color-dark50: #908D8B;
    --color-dark: #2A2626;
    --color-brown: #B09A81;
    --color-primary: #FE8A02;
    --color-primary-dark: #42413C;

    --ff-headers: "Neucha";
    --ff-normal: "OpenSans";

}
body {
    font-family: var(--ff-normal);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

h1,h2,h3 {
    line-height: 1.2em;
    font-family: var(--ff-headers);
}
h1 {
    font-size: 72px;
    z-index: 1;
}
h2 {
    font-size: 60px;
}
h3 {
    font-size: 34px;
}

p {
    font-size: 16px;
}

.text-primary {
    color: var(--color-primary);
}
.text-dark {
    color: var(--color-dark);
}


.background-image::before {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('./images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    opacity: 0.1;
}
.background-dark {
    background-color: var(--color-brown);
}
.background-light {
    background-color: var(--color-light);
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1110px;
    min-height: 900px;
    margin: 0 auto;
    padding: 100px 0;
}

.header-image {
    position: absolute;
    top: 55px;
    right: -270px;
}

.row {
    display: flex;
    gap: 30px;
}

.row div {
    flex: 1 1;
}


.btn {
    padding:12px 24px;
    font-weight: bold;
    color: var(--color-white);
    text-transform: uppercase;
    background: var(--color-primary);
    text-decoration: none;
    display: inline-block;
}

.mt-2 {
    margin-top: 2rem;
}

.preview-image {
    text-align: center;
}
.video-preview {
    border:0;
    filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.gap-30 {
    gap: 30px;
}
