:root {
    --color-white: #FFFFFF;
    --color-white50: #D7CCC0;
    --color-light: #F5F4F0;
    --color-dark50: #908D8B;
    --color-dark: #2A2626;
    --color-brown: #B09A81;
    --color-primary: #FE8A02;
    --color-primary-dark: #42413C;
}

h1, h2, h3, h4 {
    line-height: 1.2em;
}

h1 {
    font-size: 72px;
    
}
h2 {
    font-size: 60px;
}

h3 {
    font-size: 34px;
}

h3 {
    font-size: 24px;
}

p  {
    font-size: 16px;
}