@font-face {
    font-family: Neucha;
    src: url("../fonts/Neucha-Regular.ttf");
  }
  
  @font-face {
    font-family: OpenSans;
    src: url("../fonts/OpenSans-VariableFont_wdth\,wght.ttf");
  }
  
  :root {
    --color-white: #FFFFFF;
    --color-light: #F5F4F0;
    --color-dark-50: #908D8B;
    --color-dark: #2A2626;
    --color-brown: #B09A81;
    --color-primary: #FE8A02;
    --color-primary-dark: #42413C;
    --color-white-50: #D7CCC0;
  }